* {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
}
header, main, footer {
    width: 1100px;
    margin: 0 auto;
}
.cover {
    background-image: cover.jpg;
}
nav a {
  color: black;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav li:first-child {
  list-style-type: none;
}
.active {
  text-decoration: none;
}
header {
  display: flex;
  align-items: ;
}
a.logo.img {
  width: 148px;
  height: 105px;
}
