* {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
}

.cover {
    background-image: url('../images/cover.png');
    background-color:#fff;
    background-size: cover;
    width:757px;
}
nav li {
  color: black;
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
nav ul {
  display: flex;
  gap: 30px;
}
.lots, h1, .description {
    color: white;
}
.lots {
    height:1052px;
    width:723px;
}
.about {
    height:1052px;
    width:595px;
}
h2 {
    color: black;
}
nav li:first-child {
  list-style-type: none;
  width: 67px;
  height: 21px;
  top: 133px;
  left: 50px;
}
.logo1 {
    width: 105px;
    height: 148px;
}
nav li:second-child {
  width: 169.48px;
  height: 22px;
  top: 133px;
  left: 130px;
}
nav li:third-child {
  width: 129.48px;
  height: 22px;
  top: 133px;
  left: 312px;
}
.active {
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  width: 293px;
}
a.logo.img {
  width: 148px;
  height: 105px;
}
footer {
    display: flex;
    width: 180px;
}
